.forgot-password-page__heading {
  font-size: 4.8rem;
  line-height: 160%; /* 7.68rem */
  letter-spacing: 0.144rem;
  padding: 4.8rem 0;
  background: #ffc679;
}

.forgot-password-page__form {
  padding: 9.8rem 2rem;
  width: fit-content;
}

.forgot-password-page__form h1 {
  font-size: 3.2rem;
  line-height: 160%;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;
}

.forgot-password-page__form p {
  font-size: 1.6rem;
  line-height: 180%;
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
}

.forgot-password-page__form input {
  width: 50rem;
  height: 5rem;
  font-size: 1.6rem;
  line-height: 160%; /* 3.2rem */
  letter-spacing: 0.06rem;
  padding: 0 1.8rem;
  outline: none;
  border: 1px solid #000;
  border-radius: 0.7rem;
  transition: all 0.1s linear;
}

.forgot-password-page__form input:first-child {
  margin-bottom: 2.8rem;
}

.forgot-password-page__form input:focus {
  border: 1px solid var(--soul-shine-primary);
}

.forgot-password-page__forgot-password {
  margin-top: 1.4rem;
  font-size: 1.6rem;
  line-height: 100%; /* 1.6rem */
  letter-spacing: 0.016rem;
  text-decoration: none;
}

.forgot-password-page__forgot-password:hover {
  text-decoration: underline;
}

.forgot-password-page__btn-submit {
  padding: 0 8rem;
  font-size: 2rem;
  line-height: 160%; /* 3.2rem */
  letter-spacing: 0.06rem;
  margin-top: 2.8rem;
  border-radius: 0.7rem;
  height: 5rem;
}

.forgot-password-page__redirect-signup {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  line-height: 160%; /* 2.88rem */
  letter-spacing: 0.018rem;
}

.forgot-password-page__redirect-signup a {
  text-decoration: none;
}

.forgot-password-page__redirect-signup a:hover {
  text-decoration: underline;
}

@media (max-width: 575px) {
  .forgot-password-page__form {
    width: 100%;
  }
  .forgot-password-page__form input {
    width: 100%;
  }
  .forgot-password-page__btn-submit {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
