.header .header-top {
  height: 4.5rem;
}

.header .header-top h6 {
  font-size: 1.4rem;
}

.header .header-bottom {
  padding: 3.4rem 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.ant-drawer-title {
  text-align: center;
}

@media (max-width: 991px) {
  .header .header-bottom__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
