.footer {
  background: #5a1f0b;
}

.footer__top {
  padding: 3.8rem 0;
  border-bottom: 1px solid #000;
}

.footer__top ul li a {
  font-size: 1.8rem;
  line-height: 160%; /* 2.88rem */
  letter-spacing: 0.054rem;
}

.footer__top ul li a:hover {
  text-decoration: underline !important;
}

.footer__top ul li:not(:last-child) {
  margin-bottom: 1.2rem;
}

.footer__top__signup p {
  font-size: 2.4rem;
  line-height: 160%; /* 3.84rem */
  letter-spacing: 0.072rem;
}

.footer__top__signup a {
  display: inline-block !important;
  margin-top: 1.6rem;
  padding: 1.2rem 2.4rem;
  color: #fff !important;
  font-size: 1.4rem;
  line-height: 160%; /* 2.24rem */
  letter-spacing: 0.042rem;
  border-color: #fff !important;
}

.footer__bottom {
  padding: 2.2rem 0;
}

.footer__bottom p {
  font-size: 1.4rem;
  line-height: 160%; /* 2.24rem */
  letter-spacing: 0.042rem;
}
