.discover-page__first,
.discover-page__second,
.discover-page__third {
  padding: 10.6rem 0;
}

.discover-page__first h6,
.discover-page__second h6,
.discover-page__third h6 {
  font-size: 3.2rem;
  line-height: 140%; /* 4.48rem */
  letter-spacing: 0.096rem;
  border-bottom: 1px solid #000;
  position: relative;
  margin-bottom: 5.9rem;
  padding: 0 6rem;
}

.discover-page__first h6:before,
.discover-page__second h6:before,
.discover-page__third h6:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  font-family: "Cormorant Garamond", serif !important;
  font-size: 12.8rem;
  font-style: italic;
  font-weight: 300;
  line-height: 140%; /* 17.92rem */
  letter-spacing: 0.384rem;
  transform: translate(-50%, -50%);
}

.discover-page__first h6:before {
  content: "01";
  color: #cb5d62;
}

.discover-page__second h6:before {
  content: "02";
  color: #629d27;
}

.discover-page__third h6:before {
  content: "03";
  color: #ff9300;
}

.discover-page__first {
  background: #f2d9db;
}

.discover-page__second {
  background: #99d14d;
}

.discover-page__third {
  background: #ffc679;
}

.discover-page__first button,
.discover-page__second button,
.discover-page__third button {
  font-size: 2.4rem;
  line-height: 140%; /* 3.36rem */
  letter-spacing: 0.072rem;
  padding: 1.2rem 5.4rem;
  margin: 0 3.4rem 4rem 3.4rem;
  border: 1px solid #000;
  background: transparent;
  transition: all 0.2s linear;
}

.discover-page__first button.active,
.discover-page__second button.active,
.discover-page__third button.active,
.discover-page__first button:hover,
.discover-page__second button:hover,
.discover-page__third button:hover {
  border-color: transparent;
  color: #fff;
}

.discover-page__first button.active,
.discover-page__first button:hover {
  background: #cb5d62;
}

.discover-page__second button.active,
.discover-page__second button:hover {
  background: #629d27;
}

.discover-page__third button.active,
.discover-page__third button:hover {
  background: #ff9300;
}

.discover-page__submit {
  background: #ffc679;
  padding-bottom: 5.9rem;
}

.discover-page__submit button {
  padding: 1.6rem 7rem;
  font-size: 2rem;
  line-height: 160%; /* 3.2rem */
  letter-spacing: 0.06rem;
}

.discover-page__submit button:disabled {
  opacity: 0.5;
}

.discover-page__suggested-product h6 {
  font-size: 3.2rem;
  line-height: 160%; /* 5.12rem */
  letter-spacing: 0.096rem;
  margin-top: 4.8rem;
  margin-bottom: 7rem;
}

.discover-page__suggested-product__item {
  transition: all 0.2s linear;
  margin-bottom: 4.6rem;
}

.discover-page__suggested-product__item:hover {
  border-color: var(--soul-shine-primary) !important;
}

.discover-page__suggested-product__item img {
  width: 11.4rem;
  height: 11.4rem;
}

.discover-page__suggested-product__item p:first-child {
  font-size: 2rem;
  line-height: 160%; /* 3.2rem */
  letter-spacing: 0.06rem;
}

.discover-page__suggested-product__item p:nth-child(2) {
  font-size: 1.4rem;
  line-height: 160%; /* 2.24rem */
  letter-spacing: 0.042rem;
}

.discover-page__suggested-product__item p:last-child {
  font-size: 2rem;
  line-height: 160%; /* 3.2rem */
  letter-spacing: 0.06rem;
}
